<!-- _includes/image.html -->
<div class="image-wrapper" >
    {% if include.url %}
    <a href="{{ include.url }}" title="{{ include.title }}" target="_blank">
    {% endif %}
        <video controls poster="{{ site.url }}{{ include.poster }}">
          {% if include.mp4 %}
            <source src="{{ site.url }}{{ include.mp4 }}" type='video/mp4'>
          {% endif %}
          {% if include.webm %}
            <source src="{{ site.url }}{{ include.webm }}" type='video/webm'>
          {% endif %}
        </video>
    {% if include.url %}
    </a>
    {% endif %}
    {% if include.caption %}
        <small class="image-caption">{{ include.caption }}</small>
    {% endif %}
</div>
